*{
    font-family: 'BentonSans Regular', sans-serif;
    box-sizing: border-box; /*Para que el navegador tenga en cuenta el relleno y el borde*/   
}
body{
    background: #d40317;
}
.Beginning{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
}
.Marvel-Logo{
    width: 90%;
    opacity: 0;
}
.Marvel-Logo.Opacity{
    opacity: 1;
    transition: opacity 3.2s linear;
}
.Container-Nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    opacity: 0;
    margin: 0 15px;
}
.Container-Nav.Opacity{
    opacity: 1;
    transition: opacity 1s linear;
}
.Nav{
    
    position: fixed ;
    bottom: 10px;
    border-radius: 25px;
    background-color: rgba(14, 14, 14, 0.983);
}
.Nav ul{
    display: flex;
    flex-direction: row;
}
.Nav ul li{
    margin: 15px 20px;
}
.Icons{
    cursor: pointer;
}
#Icon-C{
    margin-left: 5px;
}
#Icon-Q{
    margin-right: 5px;
}