
.Titules{
    text-align: center;
    padding: 35px 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.65em;
}
.Titules, .Gallery{
    color: rgb(242, 236, 236);
}

.Titule{
    border: 2px solid white;
    padding: 8px;
}
.Gallery{
    
    border-radius: 20px;
    border: 1px solid rgba(255, 68, 0, 0);
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.Movie{
    background-color: #00000033;
    border-radius: 50px;
    margin: 0 10px 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0); 
}
.Imagenes{ 
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 0 0 0 5%;
}
.Imgs{
    opacity: 1;
    width: 50%;
    margin: 25px 0;
}
.Imgs.OpacityImgs{
    opacity: 1;
    transition: opacity .5s linear;
}
.FedBack{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
}
.Titule-Movie{
    width: 100%;
    font-size: 3.5vh;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    margin: 25px;
}
.Content{
    line-height: 1.6em;
    font-size: 3vh;
    margin: 0 9% 45px;
    text-align: justify;
}

#DecorationC{
    color: #3d89c7;
}

@media (max-width: 800px) {
    .Gallery {
        grid-column: 1;
    }
    .Imagenes {
        width: 100%;
    }
    .FedBack {
        width: 100%;
    }
}